MAX_BOT_TOKEN='token'

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=max_bot
DB_USER=user
DB_PASSWORD=password

# Settings
EVENT_NAME=Дни предпринимательства
LOG_LEVEL=INFO
ENVIRONMENT=development