MAX_BOT_TOKEN='token'

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=max_bot
DB_USER=postgres
DB_PASSWORD=postgres

# Settings
EVENT_NAME=Дни предпринимательства
LOG_LEVEL=INFO
ENVIRONMENT=development